!*.lua
!*.py
*.swp
qsub.sh
*.[eo]*

## Input ##
*input.txt
*text
*feats.scp

## Generation ##
vocab
feat_dim

## Data ##
data/align.map.mlf
data/car.fbanklist
data/car.wavlist
data/config.wb.24dimfbank.raw.16k.20ms.30msw
data/fbank/
data/mlf/
data/src/tmpfeature
data/tensors/
data/testset/
data/vocab/
